<html>
<meta http-equiv="content-type" content = "text/html; charset=UTF-8"/>
<head>
    <title>盗梦空间</title>
</head>

<body>
    <h1> 欢迎来到盗梦空间 </h1>

    <table>
        <tr><td colspan="2" align="center"> <h1> test </h1> </td> </tr>

        <tr><td>Name:</td> <td> <input type="text" ></td></tr>
        <tr><td>Name:</td> <td> <input type="text" ></td></tr>
        <tr><td>Name:</td> <td> <input type="text" ></td></tr>
        <tr><td>Name:</td> <td> <input type="text" ></td></tr>
    </table>
</body>
</html>
