body{
	margin:0px;
	padding:0px;	
	background:#f5f5f5;
}

.header
{
	width:100%;
	background:#000;	
}

#logo_div
{
	width:960px;
	margin:0 auto;	
	height:55px;
}

.logo_img
{
	height:55px;
	width:200px;
	padding-top:0px;
	/*padding-left:56px;*/
	float:left;
}

.logo_img a
{
	line-height:35px;
	text-decoration:none;
	color:#fff;
}
.logo_img div
{
	float:left;
}
.logo_img img
{
	vertical-align:middle;
	width:165px;
	height:55px;
}

.logo_img span
{
	display:none;
	float:left;
	padding-left:20px;
	font-size:28px;
	line-height:35px;
	font-family:Arial, Helvetica, sans-serif;
}

.header_user
{
	float:right;
	/*padding-right:56px;*/
	height:55px;
	color:#fff;
	line-height:55px;
}

.header_user span
{
	padding-left:10px;
	padding-right:10px;
}
.header_user span a
{
	color:#fff;
	text-decoration:none;
	font-size:12px;
}

.search_div
{
	height:100%;
	line-height:55px;
	float:right;
}

.search_text
{
	outline:none;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding-left:10px;
	border:0;
	line-height:20px;
}

.menu_div
{
	width:100%;
	height:35px;
	background:url(/Inception/Home/images/menu_normal.png) repeat-x;
}

.menu_items
{
	margin:0 auto;
	width:960px;
}

.menu_nav
{
	display:block;
	margin:0px;
	padding:0px;
	font-size:12px;
	font-style:normal;
}

.menu_nav li
{
	display:inline;
	margin:0 17px;
	float:left;
	height:100%;
	overflow:hidden;
	list-style:none;
}

.menu_nav li a
{
	padding-left:14px;
	text-decoration:none;
	float:left;
	height:100%;
	overflow:hidden;
	color:#fff;
	
}

.selected_item
{
	background:url(/Inception/Home/images/menu_select.png) no-repeat 0;
}

.selected_item em
{
	background:url(/Inception/Home/images/menu_select.png) no-repeat 0;
	background-position:right 7px;
}

.menu_nav li a em
{
	height:35px;
	line-height:35px;
	padding:11px 0;
	padding-right:10px;
	font-style:normal;
}

input[type=file]
{
	width:200px;
}